.footer{
    @include desktop-sm(){
      &__position{
        flex-direction: column;
        align-items: center;
      }

      &__address{
        flex-direction: column;
        align-items: center;

        &-map{
          &::before {
            content: none;
          }
        }
      }

      &__content{
        flex-direction: column;
        align-items: center;
        gap: 10px;

          & > div {
            &:not(:last-child) {
              &::after {
                content: none;
              }
            }
        }
      }

      &__info{
        margin-top: 30px;
      }
    }
}