.publications{
  $gap: 30px;

  @include desktop-lg{
      &__article{
        width: calc(100% / 3 - #{$gap});
      }
  }

  @include desktop-md(){
      &__article{
        width: calc(100% / 2 - #{$gap});
      }
  }

  @include desktop-sm(){
      &__article{
        width: 100%;
      }
  }
}