.team{
  @include desktop-lg(){
    .carousel-item{
      img{
        max-height: 600px;
      }
    }

  }

  @include desktop-md(){
    .carousel-item{
      img{
        max-height: 500px;
      }
    }

    padding: 60px;
    &__wrapper{
      flex-direction: column;
    }
  }

  @include desktop-sm(){
    padding: 30px;
    h2{
      font-size: $font-size-xl;
      word-wrap: break-word;
    }
  }

}