.hero{
  padding: 60px 0;
  @media (min-width: 1080px) {
    .container {
      max-width: 1080px;
    }
  }

  h1, h2{
    @extend %gradient-text-color;
  }

  h2{
    font-size: 36px;
  }

  &__description{
    padding-right:30px;

    p{
      margin-top: 30px;
    }
  }

  &__benefints{
    padding-left: 30px;
    padding-right: 30px;
    border-left: 4px solid $separator-color;
    height: 324px;

    &-item{

      &:not(:last-child){
        margin-bottom: 40px;
      }

      &-title{
        margin-bottom: 10px;
      }
    }
  }
}