.services{
  padding-bottom: 60px;

  &__title{
    margin-bottom: 60px;

    h2{
      line-height: 46px;
      font-size: $font-size-2xl;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &__items{
    row-gap: 60px;
    column-gap: 60px;
    &-section{
      img{
        border-radius: 24px;
      }

      h3{
        color: $link-color;
        margin-top: 30px;
        margin-bottom: 15px;
        max-width: 251px;
      }

      p{
        color: #FFFFFF;
        width: 350px ;
      }
    }
  }

}
