.services{
  @include desktop-lg(){
    &__items{
      p{
        width: 100%;
      }
    }
  }

  @include desktop-md(){
    padding: 60px;
    &__items{
      &-section{
        width: 40%;
      }
    }

    &-page{
      padding-top: 280px;
    }
  }

  @include desktop-sm(){
    padding: 30px;
    &__items{
      &-section{
        width: 100%;
      }
    }

    &-page{
      padding-top: 132px;
    }
  }
}