.person{
  @include desktop-lg(){
    &__image{
      height: 375px;
    }
  }

  @include desktop-md(){
    padding: 60px;
    &__wrapper{
      flex-direction: column;
    }

    &__information{
      &-contacts{
        display: flex;
        flex-direction: column;

        p{
          margin-bottom: 0;
        }
        a{
          &::before{
            content: none;
          }

          &:last-child{
            margin-bottom: 30px;
          }
        }
      }
    }



  }

  @include desktop-sm(){
    padding: 0;
    &__image{
      display: initial;
      height: 375px;
    }
    &__information{
      &-name {
      width: 100%;
        &::before{
          content: none;
      }
      }


    }
  }
}