.about{
  padding: 60px 0;
  @media (min-width: 1080px) {
    .container {
      max-width: 1080px;
    }
  }

  h2{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__quote{
    padding-right: 60px;
  }
}