.team-people{
  padding: 60px 0;
  .hero{

    @media (min-width: 1080px) {
      .container {
        max-width: 1080px;
      }
    }

    h1{
      @extend %font-montserrat-bold;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      font-size: 38px;
      line-height: 46px;
    }
  }

  &__list{
    margin-top: 60px;
    $gap: 60px;
    gap: $gap;

    &-item{
      width: calc(100%/3 - #{$gap});
      img{
        border-radius: 12px;
        max-width: 400px;
        width: 100%;
        margin-bottom: 15px;
      }

      h4{
        &::after{
          content: url("../assets/arrow.svg");
          width: 14px;
          height: 7px;
          padding: 9.5px 11.5px 8.5px 13.5px;
          background-color: #F5F5FA;
          border-radius: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: initial;
        }

        &:hover{
          color: $accent-color;
          &::after{
            content: url("../assets/arrow-hover.svg");
            width: 14px;
            height: 7px;
          }
        }
      }


      p{
        color: #B3B3BA;
        font-size: 14px;
        line-height: 22px;
      }

    }
  }
}