.benefits{
  @include desktop-lg(){
    &__description{
      p{
        width: 358px;
      }
    }
  }

  @include desktop-md(){
    padding: 60px;
    &__wrapper {
      flex-direction: column;
    }

    &__item{
      width: 100%;
      overflow-x: scroll;

      ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 0;

        a{
          width: initial;
          text-align: left;
          white-space: nowrap;
        }
      }
    }

    &__line{
      border-left: none;
      border-bottom: 4px solid rgba(255, 255, 255, 0.3);
      height: 0;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      margin-bottom: 64px;
    }

    &__description{
      width: 100%;

      p{
        max-width: 100%;
        width: initial;
      }
    }
  }

  @include desktop-sm(){
    padding: 30px;

    &__line{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}