.contact{
  padding: 60px 0;

  @media (min-width: 1080px) {
    .container {
      max-width: 1080px;
    }
  }

  &__content{
    gap: 60px;
  }

  &__information, &__form{
    width: calc(100% / 2);
  }

  &__information{
    &-address{
      border-bottom: 4px solid $separator-color;
      padding-bottom: 30px;
    }

    &-media{
      gap: 15px;
      border-bottom: 4px solid $separator-color;
      padding: 30px 0;
    }

    &-social{
      gap: 10px;
      padding-top: 30px;
    }
  }

  &__form{
    background-color: $bg-color;
    padding: 30px;
    border-radius: 12px;

    input{
      margin-bottom: 15px;
      border-radius: 8px;
      border: 1px solid #FFFFFF;
      padding: 15px 300px 15px 15px;
      &::placeholder{
        color: $text-color;
        font-size: $font-size-sm;
        line-height: 26px;
      }
    }


    &-first{
      h2{
        @extend %gradient-text-color;
        margin-bottom: 30px;
      }

      textarea{
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #FFFFFF;
        &::placeholder{
          color: $text-color;
          font-size: $font-size-sm;
          line-height: 26px;
        }
      }
    }

    &-second{
      margin-top: 30px;

      h3{
        font-size: $font-size-xs;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $text-color;
      }

      .section__button {
        input[type="button"]{
          padding: 18px 163.5px;
        }
      }
    }
  }
}