body{
  @extend %font-montserrat-regular;
  color: $main-color;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

h1{
  @extend %font-montserrat-bold;
  font-size: $font-size-2xl;
  line-height: 46px;
  color: $text-gradient;
}

h2{
  @extend %font-montserrat-bold;
  font-size: $font-size-xl;
  line-height: 37px;
}

h3{
  @extend %font-montserrat-bold;
  font-size: $font-size-lg;
  line-height: 27px;
}

h4{
  @extend %font-montserrat-bold;
  font-size: $font-size-sm;
  line-height: 20px;
}

p{
  font-size: $font-size-sm;
  line-height: 26px;
  color: #000000;
}

a {
  text-decoration: none;
}

.common-bg{
  background: $supersoft-gradient;
  border-radius: 0 0 12px 12px;
}

.section__title{
  .section__link{
    @extend %font-montserrat-bold;
    font-size: $font-size-xs;
    color: $link-color;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover{
      color: $accent-color;
    }
    svg{
      margin-top: -3px;
      &:hover {
        text-decoration: none;
        border: none;

        circle {
          stroke: $accent-color;
        }

        path {
          stroke: $accent-color;
        }

        circle,
        path {
          transition: $default-transition;
        }
      }
    }
  }

  h2{
    margin-top: 10px;
    line-height: 46px;
    font-size: $font-size-2xl;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

