%font-montserrat-regular {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

%font-montserrat-bold {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

%header-link {
  a {
    border: none;
    padding-bottom: 0;
  }
}
