.article{
  padding: 30px 0 60px 0;

  @media (min-width: 1080px) {
    .container {
      max-width: 1080px;
    }
  }

  &__name{
    padding: 0;
    border-bottom: 4px solid #E6E6F0;
    img{
      width: 100%;
      margin-bottom: 30px;
      border-radius: 12px;
    }

    p{
      @extend %font-montserrat-bold;
      font-size: $font-size-xxs;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $text-color;
      margin-top: 30px;
    }
  }

  &__content{
    padding: 0;
    border-bottom: 4px solid #E6E6F0;

    p{
      margin: 30px 0;
    }

    &-accent{
      @extend %font-montserrat-bold;
      @extend %gradient-text-color;
      font-size: $font-size-2xl;
      line-height: 46px;
      margin-top: 30px;
    }

    &-list{
      font-size: $font-size-md;

      ol{
        li{
          color: #000000;
          &:not(:last-child){
            margin-bottom: 15px;
          }
        }
        ::marker {
          color: $accent-color;

          @extend %font-montserrat-bold;
        }
      }
    }

    &-text{
      margin-top: 30px;
    }

    &-picture{
      margin-top: 30px;
      img{
        width: 100%;
        max-width: 640px;
      }
      &-text{
        margin-top: 15px;
        color: $text-color;
        font-size: $font-size-xs;
        line-height: 22px;
      }
    }
  }

  &__social{
    margin-top: 30px;
    padding: 0;

    a{
      background-color: $bg-color;
      border-radius: 12px;
      padding: 9px 8px 12px 8px;

      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
}