.photo{
  @include desktop-lg(){
    font-size: 86px;
    line-height: 105px;
    max-height: 312px;
  }

  @include desktop-md(){
    font-size: 46px;
    line-height: 56px;
    max-height: 234px;
  }

  @include desktop-sm(){
    font-size: 36px;
    line-height: 44px;
    max-height: 115px;
  }
}